<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="Connstring"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=172.16.4.249;Initial Catalog='{0}';Persist Security Info=True;User ID=sa; Password=Yatu8888;Pooling=true;Max Pool Size=40000;Min Pool Size=0" />
    <!--Excel读取-->
    <!--<add name="OleDbConStr"
         providerName="System.Data.OleDb"
         connectionString="provider=Microsoft.ACE.OLEDB.12.0;data source='{0}';Extended Properties=Excel 8.0;Persist Security Info=False" />-->
  </connectionStrings>
</configuration>